
* {box-sizing: border-box}


.header {
  background-color: rgb(235, 231, 231);
  padding: 30px;
  text-align: right;
  font-size: 22px;
  color:black;
}

.topnav {
  overflow: hidden;
  background-color: slateblue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}


.topnav a.active {
  background-color: #0704aa;
  color: white;
}

.topnav-right {
  float: right;
}

/* Add padding to containers */
.container {
  padding: 16px;
  margin-top:0%;
  margin-bottom: 3%;
  margin-left: 25%;
  margin-right: 25%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.button {
  background-color: slateblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.button:hover {
  opacity:1;
}

/*extra styles for cancel button*/

.registerbtn {
  padding: 14px 20px;
  background-color: slateblue;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/*Float cancel and registration buttons and add an equal width*/
.cancelbtn, .registerbtn {
  float: left;
  width: 50%;
}

/*Clear floats*/
.clearfix::after {
  content:"";
  clear:both;
  display: table;
}

/* The Close Button (x) */
.close {
  position: relative;
  left: 100%;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #c41919;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  font-weight: bold;
}

.table thead th {
  background-color: #009578;
  color: #ffff;
}

.table td,
.table th {
  padding: 10px 20px;
}

.table tbody tr:nth-of-type(even) {
  background: #eeee;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009578;
}



/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(235, 231, 231);
  /* margin-top: 20%; */
}
nav {
  float: left;
  width: 20%;
  height: 600px; 
  background: rgb(180, 205, 228);
  padding: 14px 20px;
  text-decoration-color:none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
    
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: auto;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #f1f1f1;
  height: 600px; 
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}
